@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Montserrat:wght@400;500;600;700;800&display=swap');


/* Product section title */
.product-section-header {}

.product-section-header p {
    font-family: 'EB Garamond', serif;
    font-size: 14px;
}

/* ================================= Product Tab Starts ============================================ */

.products-tabs {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #d8d6d4;
    padding: 10px 15px;

}

.product-card {
    border: 1px solid white !important;
    margin-bottom: 18px !important;
}

.product-card:hover {
    border: 1px solid rgb(187, 185, 185) !important;
}

/* .products-tabs a {
    color: #003153;
} */

.products-tabs:hover {
    background-color: #a5a5a5 !important;
    color: #000 !important;
}

.products-tabs.active {
    background-color: #a5a5a5;
    color: rgb(0, 0, 0);

}

.products-tabs {
    background-color: rgb(0, 0, 0);


}

.products-tabs.active a {
    color: #fff;
}

/* ================================= Product Tab Ends============================================ */

/* ================================= Product Image============================================ */

.products-cards .img-wrapper {
    width: 100%;
    min-height: 220px;
}

.products-cards img {
    transition: .2s linear !important;
}

.products-cards:hover img {
    transform: scale(1.07);

}

.product-flag {
    display: inline-block;
    position: absolute;
    padding: 0.5rem 0.7rem;
    border-radius: 4px;
    line-height: normal;
    left: 2px;
    bottom: 15px;
    max-width: 100%;
    z-index: 1;
    background-color: #606;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/* ================================= Product Name, Rating, Price============================================ */


.product-details {
    font-weight: bold;
    text-align: left;
    line-height: 16px;
    font-size: 14px;
}

.product-details a {
    color: #000;
}

.product-rating span {
    /* font-size: 13px; */
}

.product-price span {
    color: #666;
    font-size: 10px;
}

.product-price span:nth-child(2) {
    color: #ff3b3b;
    font-size: 18px;
    font-weight: bold;
}

/* ================================= Product Variant Dropdown , Add to Cart Button ============================================ */

.product-variant-select {
    border: 1px solid grey;
    border-radius: 6px 0 0 6px !important;
}

.product-variant-select:focus {
    border-color: rgb(216, 216, 216) !important;
    box-shadow: none !important;

}

option>span {
    background-color: #003153 !important;

}


.add-to-cart-btn {
    border-radius: 0 6px 6px 0 !important;

}

.Product_mobile {}


/* ================================= MEDIA QUERIES ============================================ */


@media screen and (max-width: 576px) {
    .products-tabs ul li {
        width: 50% !important;
    }

    .product-section-title {
        font-size: 22px;
    }



    .products-cards .img-wrapper {
        min-height: 100px !important;
    }

}

@media screen and (max-width: 450px) {}