.address h3 {
    font-size: 20px;
    font-weight: 700;
}
.address a {
    color: black;
    transition: 0.5s linear;
}
.address a:hover {
    color: #cc3627;
}
.address address {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}