.offcanvas {
    background: linear-gradient(315deg, #092699 0%, #2e70e9 74%)
}

.offcanvas a {
    color: white;
    transition: 0.5 linear;
}

.offcanvas .nav-link:focus {
    color: yellow !important;
}

.offcanvas .nav-link:hover {
    color: yellow !important;
}

.admin_topNav {
    background: linear-gradient(315deg, #0dcaf0 0%, #0d6efd 74%)
}

.admin_topNav button {
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
}

.offcanvas-header button {
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
}

.offcanvas .dropdown-menu {
    background-color: transparent;
    border: none;
}